<!doctype html>
<html>

<head>
    <title>Assignment 3 Cloud Computing s3873735</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <div class="login-container">
        <div class="vertical-container">
            <div class="logreg">
                <div>
                    <a href="login">Click Here to Login!</a> <br><br>
                    <a href="register">Click Here to Register!</a> <br>
                    <p>
                        errors: {{ error }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>